* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(32,94,1,1) 100%);
    min-height: 100vh;
}

.background-principal {
    width: 100%;
}

.border-header {
    height: 10px;
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

p {
    text-align: justify;
    font-size: 24px;
    margin: 40px;
    color: #ffffff;
}

input {
    display: block;
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    height: 50px;
    width: 352px;
    margin-bottom: 20px;
}

textarea {
    display: block;
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    height: 100px;
    width: 352px;
    margin-bottom: 20px;
}

form {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s;
}

::placeholder {
    padding-left: 20px;
}

.botão-abrir {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.botão-abrir button  {
    background: #205e01;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
    color: #ffffff;
}

.botoes-form {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.botao-enviar {
    background: #205e01;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 174px;
    cursor: pointer;
    color: #ffffff;
}

.botao-voltar {
    background: #535353;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    width: 174px;
    cursor: pointer;
    color: #ffffff;
}

button:hover {
    opacity: 0.8;
}

main {
    transition: opacity 1s;
}

footer {

    padding: 4px 0;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

footer a {

    text-decoration: none;
    color: #ffffff;
}

footer a ion-icon[name="logo-instagram"] {
    color: #ffffff;
    display: inline-block;
    vertical-align: -10%;
}

footer a:hover {
    font-weight: 600;
    background: -webkit-linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

